@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

*{
  font-family: 'Montserrat'

}
html,body{
  padding:0;
  margin:0;
}

.notes{
  background:#fff;
  display: flex;
  justify-content: center;
  
  
}

.notes__form {
  display: flex;
  flex-direction: column;
  width: 20%;
  border:1px solid #e9e9e9;
  align-items: center;
}

.notes__list {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

.notes__element {
padding:1rem;
min-height: 150px;
width:calc(100%/5);
word-wrap: break-word;
margin:1rem;
border-left:10px solid;
box-shadow:5px 5px 5px -5px #9e9e9e;
position: relative;
display: flex;
flex-direction: column;
}

.notes__title, .notes__content{
  margin:1rem;
  border:0;
  outline: 0;
  font-size:1.2rem;
  
  }


.notes__title{
  border-bottom: 2px solid #673ab7;
  min-width:80%;
  max-width: 80%;
}

.notes__content{
  min-width:80%;
  max-width: 80%;
  max-height: 50vh;
  min-height: 10vh;
}
.notes__button {
  display:inline-flex;

background: none;
border:0;
justify-content: center;
align-items:center;
}

.notes__button--add {
  background-color: #673ab7;
  padding:1rem;
  margin:1rem;
}

.notes__button--deleteAll{
 width:40px;
 border-right:1px solid #e9e9e9;
 border-bottom:1px solid #e9e9e9;
 cursor: pointer;
 background-color:#673ab7;
 color:#fff;
 writing-mode: vertical-rl;
}

.notes__button--deleteAll:hover {
  background: #fff;
  color:#000;
}



.note__title {
  font-weight: 600;
  padding:1rem 0;
  font-size:1.6rem;
}
.note__delete {
  
  display: inline-flex;

  background-color: #673ab7;
  color:#fff;
  cursor:pointer;
  width:40px;
  height:40px;
  position: absolute;;
  bottom:0;
  right:0;
  justify-content: center;
  align-items:  center;
  
  
}


@media only screen and (max-width: 600px) {
  .notes__form, .notes__element {
    width:100%;
  }
}